<!DOCTYPE html>
<html>
<head>
	<% if(typeof title !== 'undefined' ){ %>
		<title><%= title %> | CMS</title>
	<% }else{ %>
		<title>CMS</title>
	<% } %>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<!-- -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	<!-- -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
	<script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
	<!-- -->
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/theme.css" rel="stylesheet">
	<link href="/css/type5.css" rel="stylesheet">
</head>
<body>
	<% if(typeof view_group_user !== 'undefined' ){ %>
	<div class="body_main_wrap">
		<%- include("layout/head", null ) %>
	</div>
	<% }else{ %>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/cms">CMS App</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/cms">Home</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/cms_pages">Pages</a>
					</li>	
					<li class="nav-item active">
						<a class="nav-link" href="/cms_category">Category</a>
					</li>	
					<li class="nav-item active">
						<a class="nav-link" href="/cms_posts">Posts</a>
					</li>	
				</ul>
				<!-- right_nav -->
				<ul class="navbar-nav">
					<% if(typeof base_items !== 'undefined' ){ %>
						<% if(base_items.valid_login){ %>
							<a href="/logout">[ Logout ]</a>
						<% }else{ %>				
							<a href="/login">[ Login ]</a>
						<% }%>
					<% } %>				
				</ul>			
			</div>
			<hr />
		</nav>
	<% } %>	
	<!-- flash -->
	<% if(messages.success){ %>
		<div class="alert alert-success" role="alert"><%=messages.success %></div><br/>
	<% } %>	
	<% if(messages.err){ %>
		<div class="alert alert-danger" role="alert"><%=messages.err %></div><br/>
	<% } %>
	<% if(typeof view_group_user !== 'undefined' ){ %>
		<div class="user_main_wrap">
			<%- body %>
		</div>
	<% }else{ %>
	<div class="container">
		<%- body %>
	</div>				
	<% } %>	
	<!-- foot -->
	<%- include("layout/foot", null ) %>	
</body>
<style>
.user_main_wrap{
	background-color: #EEE;
}
</style>
</html>